params {

   genomes {

	'hg38' {
		fasta = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa"
		'NA12878' {
			vcf = "${giab_path}/NA12878/4.2.1/NISTv4.2.1/GRCh38/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
			bed = "${giab_path}/NA12878/4.2.1/NISTv4.2.1/GRCh38/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
		}
		'NA24143' {
			bed = "${giab_path}/AshkenazimTrio/4.2.1/HG004_NA24143_mother/NISTv4.2.1/GRCh38/HG004_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
			vcf = "${giab_path}/AshkenazimTrio/4.2.1/HG004_NA24143_mother/NISTv4.2.1/GRCh38/HG004_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
		}
		'NA24149' {
			bed = "${giab_path}/AshkenazimTrio/4.2.1/HG003_NA24149_father/NISTv4.2.1/GRCh38/HG003_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
			vcf = "${giab_path}/AshkenazimTrio/4.2.1/HG003_NA24149_father/NISTv4.2.1/GRCh38/HG003_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
		}
		'NA24385' {
			bed = "${giab_path}/AshkenazimTrio/4.2.1/HG002_NA24385_son/NISTv4.2.1/GRCh38/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
			vcf = "${giab_path}/AshkenazimTrio/4.2.1/HG002_NA24385_son/NISTv4.2.1/GRCh38/HG002_GRCh38_1_22_v4.2.1_benchmarkvcf.gz"
		}
		'NA24631' {
			bed = "${giab_path}/ChineseTrio/HG005_NA24631_son/NISTv4.2.1/GRCh38/HG005_GRCh38_1_22_v4.2.1_benchmark.bed"
			vcf = "${giab_path}/ChineseTrio/HG005_NA24631_son/NISTv4.2.1/GRCh38/HG005_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"			
		}
		'NA24694' {
			bed = "${giab_path}/ChineseTrio/HG006_NA24694_father/NISTv4.2.1/GRCh38/HG006_GRCh38_1_22_v4.2.1_benchmark.bed"
			vcf = "${giab_path}/ChineseTrio/HG006_NA24694_father/NISTv4.2.1/GRCh38/HG006_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
		}
		'NA24695' {
			bed = "${giab_path}/ChineseTrio/HG007_NA24695_mother/NISTv4.2.1/GRCh38/HG007_GRCh38_1_22_v4.2.1_benchmark.bed"
			vcf = "${giab_path}/ChineseTrio/HG007_NA24695_mother/NISTv4.2.1/GRCh38/HG007_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
		}	
		'CHM' {
                        vcf = "/work_ifs/ikmb_repository/references/CHM/CHM-eval.kit/full.38.vcf.gz"
                        bed = "/work_ifs/ikmb_repository/references/CHM/CHM-eval.kit/full.38.bed"
                }
	}  			
	'GRCh38' {
                fasta = "${gatk_bundle_path}hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa"
                'NA12878' {
                        vcf = "${giab_path}/NA12878/4.2.1/NISTv4.2.1/GRCh38/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz
                        bed = "${giab_path}/NA12878/4.2.1/NISTv4.2.1/GRCh38/HG001_GRCh38_1_22_v4.2.1_benchmark.bed"
                }
                'NA24143' {
                        bed = "${giab_path}/AshkenazimTrio/4.2.1/HG004_NA24143_mother/NISTv4.2.1/GRCh38/HG004_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                        vcf = "${giab_path}/AshkenazimTrio/4.2.1/HG004_NA24143_mother/NISTv4.2.1/GRCh38/HG004_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                }
                'NA24149' {
                        bed = "${giab_path}/AshkenazimTrio/4.2.1/HG003_NA24149_father/NISTv4.2.1/GRCh38/HG003_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                        vcf = "${giab_path}/AshkenazimTrio/4.2.1/HG003_NA24149_father/NISTv4.2.1/GRCh38/HG003_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                }
                'NA24385' {
                        bed = "${giab_path}/AshkenazimTrio/4.2.1/HG002_NA24385_son/NISTv4.2.1/GRCh38/HG002_GRCh38_1_22_v4.2.1_benchmark_noinconsistent.bed"
                        vcf = "${giab_path}/AshkenazimTrio/4.2.1/HG002_NA24385_son/NISTv4.2.1/GRCh38/HG002_GRCh38_1_22_v4.2.1_benchmarkvcf.gz"
                }
                'NA24631' {
                        bed = "${giab_path}/ChineseTrio/HG005_NA24631_son/NISTv4.2.1/GRCh38/HG005_GRCh38_1_22_v4.2.1_benchmark.bed"
                        vcf = "${giab_path}/ChineseTrio/HG005_NA24631_son/NISTv4.2.1/GRCh38/HG005_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                }
                'NA24694' {
                        bed = "${giab_path}/ChineseTrio/HG006_NA24694_father/NISTv4.2.1/GRCh38/HG006_GRCh38_1_22_v4.2.1_benchmark.bed"
                        vcf = "${giab_path}/ChineseTrio/HG006_NA24694_father/NISTv4.2.1/GRCh38/HG006_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                }
                'NA24695' {
                        bed = "${giab_path}/ChineseTrio/HG007_NA24695_mother/NISTv4.2.1/GRCh38/HG007_GRCh38_1_22_v4.2.1_benchmark.bed"
                        vcf = "${giab_path}/ChineseTrio/HG007_NA24695_mother/NISTv4.2.1/GRCh38/HG007_GRCh38_1_22_v4.2.1_benchmark.vcf.gz"
                }
                'CHM' {
                        vcf = "/work_ifs/ikmb_repository/references/CHM/CHM-eval.kit/full.38.vcf.gz"
                        bed = "/work_ifs/ikmb_repository/references/CHM/CHM-eval.kit/full.38.bed"
                }
        }
        'GRCh37' {
                fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
        }
        
  }
  
}
